body {
  background-color: black;
  color: white;
  font-family: 'MS PGothic', 'ＭＳ Ｐゴシック', Georgia, Arial, Helvetica, sans-serif;

  user-select: none;
}

#scroll {
	width: 1500px;
	height: 25px;

	background-color: white;

	margin: auto;
	margin-top: 2vh;

    white-space: nowrap;
    overflow: hidden;
}

.scrolling {
	color: black;
	letter-spacing: 10px;

    display: inline-block;
    padding-left: 100%;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

#frame {
	width: 1500px;

	margin: auto;
	margin-top: 10px;

	display: flex;

	align-items: flex-start;
}

#left {
	width: 30%;
	height: 655px;

	overflow-y: scroll;

	margin-right: 3%;
}

.team {
	width: 70%;
	display: flex;

	flex-wrap: wrap;

	justify-content: center;
}

#team1 {
	margin-right: 5px;
}

.option {
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;

	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;

	text-align: center;
}

.option:hover {
	background-color: white;
	color: black;

	cursor: pointer;
}

.selected {
	background-color: white;
	color: black;
}

.champ {
	width: 50px;
	height: 50px;

	border: 1px solid grey;

	margin: 2px;
}

.outlined {
	border: 1px solid white;
}

/* floating text */

.floating {
	position: absolute;
	color: grey;

	z-index: -5;
}

#tooltip {
	position: absolute;

	border: solid 1px white;

	padding: 4px;

	background-color: black;
	color: white;
}